@using TestEShopMacNet7.Models.Cart
@using TestEShopMacNet7.Data
@using TestEShopMacNet7.Models.Account
@model Order
@inject Microsoft.AspNetCore.Identity.UserManager<ExtendedUser> userManager
@inject ApplicationDbContext dbContext 

@{
    ViewData["Title"] = "Order1";
}

<p class="display-4 text-center my-6">Dodací údaje</p>

<form>
    @{var user = dbContext?.Users.Where(u => User != null && User.Identity != null && u.UserName == (User.Identity.Name ?? "")).FirstOrDefault();}
    <input name="TempItemIds" value="@String.Join(";", Model?.ItemIds)" hidden />
    <input name="PaymentMethod" value="@Model.PaymentMethod" hidden />
    <div class="row my-2">
        <div class="col-4 text-end">
            <label class="align-middle" for="Street">Ulice</label>
        </div>
        <div class="col-4 text-start">
            <input class="align-middle" name="Street" type="text" value="@(Model.Street != String.Empty ? Model.Street : user?.Street)" />
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4 text-end">
            <label class="align-middle" for="City">Město</label>
        </div>
        <div class="col-4 text-start">
            <input class="align-middle" name="City" type="text" value="@(Model.City != String.Empty ? Model.City : user?.City)" />
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4 text-end">
            <label class="align-middle" for="PostalCode">PSČ</label>
        </div>
        <div class="col-4 text-start">
            <input class="align-middle" name="PostalCode" type="number" value="@(Model.PostalCode <= 0 ? user?.PostalCode : Model.PostalCode)" />
        </div>
    </div>
    <button class="btn btn-primary" asp-controller="Cart" asp-action="Index" type="submit">Zpět do košíku</button>
    <button class="btn btn-primary" asp-controller="Cart" asp-action="OrderStep2" type="submit">Další krok</button>
</form>

